.home-container {
    text-align: center;
    /* padding: 50px; */
    /* width: 100%; */
  }
  
  .shop-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .shop-button:hover {
    background-color: #555;
  }
  